/* Sets the default design for the website */
body{
    background-color: #fffff7;
    color: rgba(0,0,0,.8);
    margin:0px;
    min-width: 1200px;
}

/* Default behavior of links.
   Links are all uppercase, no underlining, and change colors when hovered over. */
a{
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: #fffff7;
    text-transform: uppercase;
}

a:hover{
    color:#dfc3c4;
}


/* Layout and design of banner. Uses grid to organize logo, title, and navigation bar */
.topbar{
    display: grid;
    background-color: #1b2326;
    margin: 0% 15% 1% 15%;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 80px;
}

/* Controls the page title design in banner */
.topbar div h1{
    text-align: center;
    color:#fffff7;
}

/* Logo is set to the left side of the banner grid */
.logodiv{
    padding: 3px;
    grid-column: 1/2;
    grid-row: 1/2;
}

/* Title is on the upper right side of the grid */
.topbox{
    grid-column: 2/4;
    grid-row: 1;
}

/* Navigation is on the lower right side of grid */
.navigationdiv{
    grid-column: 2/4;
    grid-row: 2;
}

/* Next two parts of code provide the design for an inline, well spaced navigation bar
   that is centered in its grid area. . */
#navigation{
    width: 100%;
    padding: 15px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#navigation li{
    display: inline;
    margin-left:3px;
    margin-right:3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Grid layour for the main body of the website.
   The grid is 4x4 with the top left being 2x2
   the top right 2x2, the bottom left 2x2, 
   and the bottom right consiting of four 1x1 blocks. */
.wrapper{
    display: grid;
    margin: .2em;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    margin: 0% 15% 1% 15%;
}

/* Creates standard padding within main design blocks */
.wrapper div{
    padding: 2%;
}

/* Sets the background color for the top right and the bottom left divs */
.wrapper div:nth-child(n+2){
    background-color: #b49987;
}

/* Sets the background of the top left div*/
.wrapper div:nth-child(1){
    background-color: #dfc3c4;
}

/* Sets the background color for the four bottom right divs */
.wrapper div:nth-child(n+4){
    background-color: #dfc3c4;
}

/* This causes the bottom right images to fill their div upon hover. */
.wrapper div:nth-child(n+4):hover{
    padding: 0px;
}

.footer{
    text-align: center;
}

/* The four box{} parts of code degine the layout of the main body */
.box1{
    grid-column: 1/3;
    grid-row: 1/3;
}
.box2{
    grid-column: 3/5;
    grid-row: 1/3;
}
.box3{
    grid-column: 1/3;
    grid-row:3/5;
}

.box4{
    grid-column: 3/4;
    grid-row: 3/4;
}

.boximg{
    width:100%;
    height:100%;
    object-fit:fill;
}

/* Top left div: 
   Text will not overflow, and will instead cause scrollbar to appear. */
.realtext{
    height: 95%;
    width: 96%;
    object-fit:fill;
    overflow: auto;
    padding: 1%;
}

.realtext p{
    margin: 0%;
    font-size: 20px;
}

/* All boxtable settings create the design of the table in the top right div.
   The table alternates colors by column and cells change color upon hover. */
.boxtable{
    table-layout: fixed;
    width: 100%;
    height: 100%;
    background-color: #1b2326;
}

.boxtable *:nth-child(even){
    background-color: #dfc3c4;
}

.boxtable *:nth-child(odd){
    background-color: #585b56;
}

.boxtable tr td:nth-child(odd){
    color: #f5f5efa2;
}

.boxtable tr td{
    padding: 1%;
}

.boxtable *:nth-child(even):hover{
    background-color: #a88f90;
}

.boxtable *:nth-child(odd):hover{
    background-color: #363835;
}

/* Header for bottom left div */
.box3 h2{
    text-align: center;
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* Set up grid for bottom left div */
.cardiv{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 150px;
}

/* List of cars on the left, and picture of car on the right.
   Remove bullets from list of cars. */
#carlist{
    grid-column: 1/4;
    grid-row: 1/2;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
} 

#carlist li{
    padding-bottom: 23px;
}

#smalldiv{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: #00000000;
}
.carpic{
    margin-top: 5%;
    width:100%;
    height:100%;
    object-fit:fill;
}

/* Center smaller text caption beneath image */
.caption{
    text-align: center;
    font-size: smaller;
}

/* Favorite car link will be different color, but 
   still changes color upon hover. */
a#favorite{
    color:#1b2326;
}

a#favorite:hover{
    color:#dfc3c4;
}