/* General style for whole site */
body{
    background-color: #fffff7;
    color: rgba(0,0,0,.8);
    margin:0px;
    min-width: 900px;
}

/*  Next 3 blocks style the form.
    Form is centered with center text. 
    Rounded border to look nicer */
#form{
    background-color: lightgray;
    width: 500px;
    margin: 1% auto;
    text-align: center;
    padding: 1%;
    border-radius: 10%;
}

#form form input{
    width: 300px;
}

.error{
    color:red;
}

/*  Table has centered text.
    Is centered in the page
    Has a max width, and is scrollable.*/
#multtable{
    margin: 1% auto;
}
table{
    text-align: center;
    height:500px; 
    max-width: 1500px;
    overflow:scroll; 
    display:block; 
}

/* Table data and headers have different background colors. */
td{
    padding: 5px;
    background-color: lightgray;
}

/* Position, left, and top cause the headers to stick to the table when scrolling */
th{
    padding: 5px;
    background-color: gray;
    position: sticky;
    left: 0;
    top:0;
}
